<h1>Editing Premium Subscription</h1>

<%= render 'form', premium_subscription: @premium_subscription %>

<%= link_to 'Show', @premium_subscription %> |
<%= link_to 'Back', premium_subscriptions_path %>
